#projects_show
  #project_header
    background: $light-brown
    margin-top: -$base-spacing * 2
    padding: $base-spacing 0

    .container
      position: relative

    h1
      color: $dark-brown
      text-transform: uppercase

    p
      color: $brown
      margin-bottom: 0
      font-style: italic

  #project_nav
    background: $brown
    margin-bottom: $base-spacing*2

    ul
      li
        display: inline-block

        a
          +transition
          line-height: 4em
          color: rgba($light-brown, .5)
          padding: 0 2em
          font-family: $heading-font-family
          font-weight: 400
          font-size: .85em
          text-transform: uppercase
          display: inline-block
          border-bottom: 3px solid transparent


          &:hover
            color: $light-brown

          &.active
            $color: rgba(#fff, .5)
            border-bottom: 3px solid $color
            color: $color
  section
    > .container
      animation-duration: $base-duration
      animation-name: fadeIn

  .stats-container
    +display(flex)
    +flex-wrap(wrap)
    margin: 0 -.2em 0 -.2em
    position: absolute
    width: 650px
    right: 0
    top: 0

    li
      +flex(0 0 33.333333%)
      +align-self(stretch)
      padding: 0 .2em

      .inner
        +transition
        +display(flex)
        +align-items(center)
        +justify-content(center)
        background: tint($light-brown, 60)
        padding: $base-spacing
        border-radius: $base-border-radius
        text-align: center
        color: $dark-brown

        &.ok
          background: lighten($green, 55)
          *
            color: $green
        &.error
          background: tint($red, 65)
          *
            color: $red

        strong
          font-family: $heading-font-family
          display: block
          font-weight: 400
          font-size: 1.7em
        small
          line-height: 1.5em
          display: inline-block
          color: $base-font-color

  .stories-container
    +span-columns(9)
    background: transparent
    margin-bottom: $base-spacing*2

    li
      +clearfix
      +fill-parent
      animation-duration: $base-duration
      animation-name: fadeIn
      padding: $small-spacing $base-spacing

      > div
        vertical-align: middle


      &:not(.unstyled)
        border: 1px solid $light-brown
        border-bottom: 0px none

        &:nth-child(odd)
          background: lighten($light-gray, 5)
        &:nth-child(even)
          background: #fff

      &:nth-child(2)
        border-radius: $base-border-radius $base-border-radius 0 0
      &:nth-last-child(2)
        border-bottom: 1px solid $light-brown
        border-radius: 0 0 $base-border-radius $base-border-radius

      &.header
        border: 0px none
        text-transform: uppercase
        font-family: $heading-font-family

      &.footer
        border: 0px none
        background: transparent

      .info
        +span-columns(8)
        text-transform: none

      .id
        +span-columns(1.5)
        font-family: $heading-font-family

      .name
        +span-columns(6.5)
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
      .status
        +span-columns(1)
        text-align: center
        small
          text-transform: uppercase
          font-family: $heading-font-family
      .estimation, .dedicated-hours
        +span-columns(1.5)
        text-align: right

  .filters-container
    +span-columns(3)
    background: #fff
    padding: $base-spacing
    border-radius: $base-border-radius
    border: 1px solid $light-brown
    margin-top: 3em

    section
      margin-bottom: $base-spacing

    ul
      li
        margin-bottom: .5em
