// - - - - - - - - - - - - - - - - - - -
// - - example-module module
// styles for the example-module module

$header-height: $base-line-height * 2.3em

.main-header
  +clearfix
  background: $green
  line-height: $header-height
  padding: 0 $base-spacing
  color: #fff
  position: relative
  margin-bottom: $base-spacing * 2

  .logo-small
    +transform(translateY(-50%))
    position: absolute
    top: 50%


  nav
    float: left
    margin: 0
    padding: 0

    &.right
      float: right

    ul
      list-style: none
      display: inline-block
      margin: 0
      -webkit-margin-before: 0
      -webkit-padding-start: 0
      li
        display: inline-block

        &:not(:last-of-type)
          a
            margin-right: 1em

        a
          +transition
          color: rgba(#fff, .5)
          border-radius: $base-border-radius
          padding: .3em .5em
          line-height: 1em


          &.current-user
            position: relative
            overflow: hidden
            padding-left: 35px

            .react-gravatar
              width: 30px
              height: 30px
              border-radius: $base-border-radius
              margin-right: .5em
              position: absolute
              top: 50%
              margin-top: -15px
              left: 0

          .fa
            color: #fff

          &:hover
            color: #fff
