// - - - - - - - - - - - - - - - - - - -
// - - example-module module
// styles for the example-module module

$header-height: $base-line-height * 3em

.main-header
  +clearfix
  background: #fff
  line-height: $header-height
  padding: 0 $base-spacing
  color: $brown
  position: relative
  margin-bottom: $base-spacing * 2
  box-shadow: 0 0px 0 2px rgba($dark-gray, .1)

  .logo-small
    +transform(translateY(-50%))
    position: absolute
    top: 50%

  nav
    float: left
    margin: 0
    padding: 0

    &.right
      float: right

    ul
      list-style: none
      display: inline-block
      margin: 0
      -webkit-margin-before: 0
      -webkit-padding-start: 0
      li
        display: inline-block

        .current-user
          display: inline-block

          .react-gravatar
            width: 50px
            height: 50px
            border-radius: 50%
            vertical-align: middle

          .fa
            color: #fff

        &.menu-wrapper
          position: relative

          > a
            +transition
            position: relative

            &:after
              content: ""
              width: 0
              height: 0
              border: solid 6px
              border-color: $brown transparent transparent
              margin-right: 30px
              margin-top: -3px
              display: inline-block
              position: static
              right: auto
              margin: 0 0 -6px 12px
              line-height: 45px

          .dropdown
            position: absolute
            display: block
            z-index: 99
            background: #fff
            right: 0
            width: 12em
            animation-duration: .3s
            animation-name: fadeIn
            padding: .5em 0
            box-shadow: 0 2px 0 2px rgba($dark-gray, .1)
            border-radius: 0 0 $base-border-radius $base-border-radius

            li
              display: block

            a
              +transition
              padding: 1em
              display: block
              line-height: 1em

              &:hover
                background: rgba($light-brown, .5)
